* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(0, 132, 255);
}

.container {
  margin: 0 auto;
  padding: 2% 10%;
}

/* 게시판 */
.table {
  width: 100%;
  border-top: 2px solid #000;
}

.table > div {
  border-bottom: 1px solid #999;
}

.table-header {
  border-bottom: 1px solid #000;
  font-weight: 600;
}

.table > div > div, .table > div > div > div {
  /* 가로배치 */
  display: inline-block; 
  padding: 15px 0;
  text-align: center;
}

.table .table-header {
  text-align: center;
}

.table .table-num {
  width: 10%;
}

.table .table-title {
  width: 60%;
  text-align: left;
}

.table .table-header .table-title {
  text-align: center;
}

.table .table-author {
  width: 15%;
}

.table .table-date {
  width: 15%
}



/* .list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: white;

  padding: 2px 20px;
  border-bottom: 1px solid #ddd;

  opacity: 1;
  transition: all 1s;

  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
} */

/* .list-item h4 {
  font-size: 15px;
  font-weight: 800;
  margin: 0;
}

.list-item p {
  color: grey;
  margin: 5px 0px;
}

.list-item span:hover {
  cursor: pointer;
} */

.list-btn {
  display: flex;
  flex-wrap: nowrap;
}

.list-btn-write {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.p-20 {
  padding: 20px;
}

input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
  background: #fff;
  font-size: 12px;
  font-weight: 800;
  /* background: rgb(249, 250, 255); */
}

.btn-write:hover, .btn-write a:hover {
  background: black;
  color: white;
}

.no-item {
  padding: 50px;
  text-align: center;
}



/* navbar */

.navbar {
  background: white;
  text-align: center;
  /* padding: 20px; */
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.navbar-logo {
  padding: 5%;
  text-align: center;
}

.logo {
  font-weight: 900;
  font-size: larger;
}

.content-box {
  width: 100%;
}

.content-title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 1.5rem;
}

.content-author {
  padding-bottom: 10px;
}

.content-text {
  padding-bottom: 70px;
}

.comment-register {

}

.comment-box {
  width: 100%;
}

.comment-title {
  padding-bottom: 10px 0;
}